body{
    background: url(louis-round-wilson-library-snow-unc-chapel-hill-north-carolina.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    margin-top: 1%; 
}

#calendar{
    padding: 5px; 
    border-spacing: 5px;
    border-collapse: collapse; 
    margin: 0 auto; 
    background-color: rgba(75, 156, 211, 1.0); 
}

th, td{
    border: 1px solid blue;
}

.date{
    vertical-align: top; 
    width: 175px; 
    height: 175px;
}

#bottomTwoTables{
    display: flex;
    margin-top: 3%;
    justify-content: space-around; 
}

#ClassList{
    border-collapse: collapse; 
    margin-left: 11%;  
    background-color: rgba(75, 156, 211, 1.0); 
}

#classes{
    width: 250px; 
    height: 200px; 
    text-align: center;
    font-size: 1.5em; 
    margin-top: 15%;  
    margin-top: 20%;
}

#notifications{
    width: 250px; 
    height: 200px;
    font-size: 1.1em; 
    vertical-align: top; 
}

.BtnCenter{
    text-align: center; 
}

#studyGroups{
    border-collapse: collapse; 
    background-color: rgba(75, 156, 211, 1.0); 
    margin: 0 auto;  
}

.stdtable{
    width: 450px; 
    height: 225px;
    font-size: 1.5em; 
    vertical-align: top;
}
