body{
/* height: 92.11%; */   
  background: url(old_well_pic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover; 
    background-color: rgba(75, 156, 211, 1);  
    background-color: #99ccff; 
}

.box{
    border: 2px solid black; 
    width: 200px; 
    height: 125px; 
    text-align: center; 
}

#center{
    width: 600px; 
    height: 350px;
    left: 30%; 
    position: absolute; 
    top: 30%; 
    background-color: rgba(75, 156, 211, 0.7);
    text-align: center; 
}

#userInput{
    display: flex; 
    justify-content: space-around; 
}

.signInUp{
    margin-top: 0 auto;  
}

